<?xml version="1.0" encoding="utf-8"?>
<SiteSecurityConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Users>
    <User>
      <Name>matakail</Name>
      <Role>admin</Role>
      <Ask>true</Ask>
      <EmailAddress>admin@zulldesign.ml</EmailAddress>
      <DisplayName>MYKAIL</DisplayName>
      <OpenIDUrl>https://ArceeTwin.apphb.com/</OpenIDUrl>
      <NotifyOnNewPost>false</NotifyOnNewPost>
      <NotifyOnAllComment>false</NotifyOnAllComment>
      <NotifyOnOwnComment>false</NotifyOnOwnComment>
      <Active>true</Active>
      <Password>repaircarizulf@apphbproject.ml</Password>
    </User>
  </Users>
</SiteSecurityConfig>